.d1{
  margin-top: 0;
  font-size: 400%;
  font-family: 'Sacramento', cursive;
  padding-top: 250px;
  padding-bottom: 250px
}

a {
 color: hotpink;
 text-decoration: none;
}

body {
  background-color: black;
}

h1{
  text-align: right;
}

.op{
  color: #32e0c4;
  text-decoration: none;
padding-left: 1050px
}
